# Rinomina questo file in application-secret.properties

# Inserisci la tua vera API Key di Google Gemini
gemini.api.key=INSERISCI_LA_CHIAVE_QUI

# Inserisci la tua email e la password per l'invio di email
spring.mail.username=tua_email@gmail.com
spring.mail.password=tua_password_app_gmail
